<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./includes/head.ejs') %>

</head>

<body>
    <%- include('./includes/search.ejs') %>

        <div class="wrapper">
            <%- include('./includes/nav.ejs') %>

                <%- include('./includes/topics.ejs') %>
                    <% if(articles.length> 0 ){ %>
                        <section id="articles" class="grid g-three">
                            <% for(article of articles){ %>
                                <%- include('./includes/article-box.ejs' , {article: article}) %>

                                    <!-- <article class="lazy-background hidden" data-src="/<%=article.image %>"  data-id="<%=article._id%>">
                                    <a href="/article/<%=article.title%>">
                                        <div class="article-body">
                                            <h3>
                                                <%=article.title%>
                                            </h3>
                                            <p>
                                                <%= article.date %>
                                            </p>
                                        </div>
                                    </a>
                                </article> -->
                                    <% } %>

                        </section>
                        <%- include('./includes/pagination.ejs') %>

                            <% } else { %>

                                <div class="no-result">

                                    <img src="/images/noresult.svg" alt="">
                                    <h2>Nothing Here Yet..</h2>
                                    <h3>But you may be intersted in</h3>
                                </div>
                                <% } %>

        </div>
        <%- include('./includes/scripts.ejs') %>

</body>

</html>