<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./includes/head.ejs') %>

</head>

<body onload="getBookmark(true)">

    <div class="wrapper">
        <%- include('./includes/nav.ejs') %>
            <%- include('./includes/search.ejs') %>

                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input type="hidden" id="bookmardId" value="">

                <%- include('./includes/topics.ejs') %>
                    <h1>Your Bookmark</h1>

                    <section id="articles" class="grid g-three">

                    </section>
         

    </div>
    <%- include('./includes/scripts.ejs') %>
        <script>
           const bookmardId =  getbookmarkId()
           document.getElementById('bookmardId').value = bookmardId

        </script>

</body>

</html>